@model IEnumerable<Examen.Models.AnthonyRodriguez_tabla1>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.arNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arEstudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arEstatura)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.arNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arEstudiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.arEstatura)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.arCedula">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.arCedula">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.arCedula">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
